// @use './Sass/common';
@use './Sass/common' as *; //importing mixins, variables and functions from partial

.App {
  text-align: center;
  background-color: bisque;
}

/*
* Css Nesting as per HTML DOM Hierarchy
*/
.bground {

  button {
    @include theme($theme: #e92626, $color: #fff);
    @extend %base-style;
    font-size: $fontSize + 6;
   // font-size: common.$fontSize + 6;
  }

}

label {
  font-weight: bold;
  color: #147ce7;
  font-size: 16px;
}

li {
  display: inline;
  padding: 10px;
  background-color: #63a709;
}
li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

li a:active, li a:hover, li a:visited {
  background-color: rgb(55, 14, 151);
}